:root {
    --gray: #F9F9F9;
}

/* Remove bullet points */
ul {
    list-style-type: none;
}

nav {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

nav .business-logo {
    width: auto;
    height: 50px;
    margin-right: 40px;
}

nav .left-side,
nav .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

nav .links ul {
    gap: 16px;
}

nav .media-logos ul {
    gap: 30px;
}

nav button {
    margin-left: 30px;
}